<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Category page</title>
  </head>
  <body>
    <h1>Assignment</h1>
    <p>
      <a href="https://www.railstutorial.org/">Category</a>
    </p>
  </body>
</html>