<% provide(:title, "Locations") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Location page</title>
  </head>
  <body>
    <h1>Assignement</h1>
    <p>
      <a href="https://www.railstutorial.org/">Location</a>
    </p>
  </body>
</html>