<% provide(:title, "Login") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Login page</title>
  </head>
  <body>
    <h1>Assignement</h1>
    <p>
      <a href="https://www.railstutorial.org/">Login</a>
    </p>
  </body>
</html>